



@font-face {
    font-family: 'spicy_riceregular';
    src: url('spicyrice-regular.woff2') format('woff2'),
         url('spicyrice-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
